<div class="clear"></div>

<div class="col_one_third nobottommargin">
  <div class="product  clearfix ">
    <div class="product-image">
      <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image 8"></a>
      <div class="product-overlay">
        <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
        <a href="assets/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i
            class="icon-line-search"></i><span>Quick View</span></a>
      </div>
    </div>
    <div class="product-desc">
      <div class="product-title mb-1">
        <h3><a href="#">Sunglasses</a></h3>
      </div>
      <div class="product-price font-primary">Startng from $29.99</div>
    </div>
  </div>
</div>

<div class="col_two_third col_last nobottommargin ">

  <div class="fancy-title title-border">
    <h4>In Stock</h4>
  </div>

  <div class="col_half">

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$39.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$29.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$49.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$29.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col_half col_last">

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$39.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$29.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$49.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="assets/images/items/new/8.jpg" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">UV Protection Sunglasses</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">$29.99</li>
          <li> 
            <a href="#" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
