<div class="clear"></div>

<div class="col_one_third nobottommargin">
  <div class="product  clearfix ">
    <div class="product-image" *ngIf="subcategory?.image?.url">
      <a href="#"><img src="{{subcategory?.image?.url}}" alt="Image 8"></a>
      <!-- <div class="product-overlay">
        <a href="#" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
        <a href="assets/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i
            class="icon-line-search"></i><span>Quick View</span></a>
      </div> -->
    </div>
    <div class="product-desc">
      <div class="product-title mb-1">
        <h3><a href="#">{{ subcategory?.title }}</a></h3>
      </div>
      <div class="product-price font-primary">Startng from {{subcategory?.startingPrice}} </div>
    </div>
  </div>
</div>

<div class="col_two_third col_last nobottommargin ">

  <div class="fancy-title title-border">
    <h4>In Stock</h4>
  </div>


  <h5 *ngIf="itemsHalf?.length == 0 || !itemsHalf" class="text-muted text-center mt-5 pt-5"> No items found.. give us a call to check!</h5>

  <div class="col_half">

    <div *ngFor="let item of itemsHalf" class="spost clearfix">
      <div class="entry-image" *ngIf="item.image.url">
        <a href="#"><img src="{{item.image.url}}" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">{{item.name}}</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">{{item.price}}</li>
          <li> 
            <a routerLink="contact" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>


  </div>

  <div class="col_half col_last">

    <div *ngFor="let item of itemsHalf2" class="spost clearfix">
      <div class="entry-image">
        <a href="#"><img src="{{item.image.url}}" alt="Image"></a>
      </div>
      <div class="entry-c">
        <div class="entry-title">
          <h4><a href="#">{{item.name}}</a></h4>
        </div>
        <ul class="entry-meta">
          <li class="color my-2">{{item.price}}</li>
          <li> 
            <a routerLink="contact" class="button button-mini button-primary text-light button-rounded"><i class="icon-shopping-cart"></i>Buy</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
