<div class="row shop-categories clearfix">
  <!-- <div class="col-lg-7">
    <a href="#" style="background: url('assets/images/categories/2-1.jpg') no-repeat right center; background-size: cover;">
      <div class="vertical-middle dark center">
        <div class="heading-block nomargin noborder">
          <h3 class="nott t600 ls0">For Him</h3>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-5">
    <a href="#" style="background: url('assets/images/categories/1.jpg') no-repeat center right; background-size: cover;">
      <div class="vertical-middle dark center">
        <div class="heading-block nomargin noborder">
          <h3 class="nott t600 ls0">For Her</h3>
        </div>
      </div>
    </a>
  </div> -->

  <div class="col-lg-4">
    <a href="#" style="background: url('assets/images/categories/home.jpg') no-repeat center center; background-size: cover;">
      <div class="vertical-middle dark center">
        <div class="heading-block nomargin noborder">
          <h3 class="nott t600 ls0">Home Supplies</h3>
          <!-- <small class="button bg-white text-dark button-light button-mini">Browse Now</small> -->
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="#" style="background: url('assets/images/categories/electronics.jpg') no-repeat center center; background-size: cover;">
      <div class="vertical-middle dark center">
        <div class="heading-block nomargin noborder">
          <h3 class="nott t600 ls0">Phone Accessories</h3>
          <!-- <small class="button bg-white text-dark button-light button-mini">Shop Now</small> -->
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="#" style="background: url('assets/images/categories/toys.jpg') no-repeat center center; background-size: cover;">
      <div class="vertical-middle dark center">
        <div class="heading-block nomargin noborder">
          <h3 class="nott t600 ls0">Toys</h3>
          <!-- <small class="button bg-white text-dark button-light button-mini">Shop Now</small> -->
        </div>
      </div>
    </a>
  </div>

</div>