<div *ngIf="!subcategories && !categories"  class="container clearfix mt-5">
  <!-- FIX IT BY REFERENCING ORIGINAL COMMIT -->

  <div class="postcontent nobottommargin col_last">
    <!-- <div class="fancy-title title-dotted-border topmargin-sm mb-4 title-center">
      <h4>New Arrivals: Men</h4>
    </div> -->

    <div  class="">

 
      <div class="shop product-3 grid-container w-100 " style="overflow: visible;">
        <div *ngFor="let item of [1,2,3,4,5,6]" class="product  clearfix"
        style="">
          <div class="product-image">
            <ngx-skeleton-loader
            [theme]="{
              width: '100%',
              'border-radius': '0',
              height: '350px'
            }"
            appearance="circle"
          ></ngx-skeleton-loader>   
          </div>
          <div class="product-desc">
            <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
          </div>
        </div>



      </div>



    </div>
  </div>
  
  <!-- Sidebar
  ============================================= -->
  <div class="sidebar nobottommargin">
    <div class="sidebar-widgets-wrap">

      <div class="widget widget-filter-links clearfix">
        <ngx-skeleton-loader count="7"></ngx-skeleton-loader>

      </div>
    </div>

  </div>
</div>



<div *ngIf="subcategories && categories"  class="container clearfix mt-5">
  {{ load() }}
  <!-- FIX IT BY REFERENCING ORIGINAL COMMIT -->

  <div class="postcontent nobottommargin col_last">
    <!-- <div class="fancy-title title-dotted-border topmargin-sm mb-4 title-center">
      <h4>New Arrivals: Men</h4>
    </div> -->

    <div  class="">

 
      <div  id="shop2" class="shop product-3 grid-container w-100 " style="overflow: visible;">
        <!-- Shop Item 2
        ============================================= -->
        <div *ngFor="let category of subcategories" class="product sf-{{category?.category?.slug}} clearfix {{ category?.hidden == true? 'd-none' : '' }}"
        style="">
          <div class="product-image">
            <a href="/subcategories/{{category.title}}"><img src="{{category?.image?.url}}" alt="Image 2"></a>
            <div class="product-overlay">
              <a href="/subcategories/{{category.title}}" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
              <a href="/subcategories/{{category.title}}" class="item-quick-view" data-lightbox="ajax"><i
                  class="icon-line-search"></i><span>Quick View</span></a>
            </div>
          </div>
          <div class="product-desc">
            <div class="product-title mb-1">
              <h3><a href="/subcategories/{{category.slug}}">{{category.title}}</a></h3>
            </div>
            <div class="product-price font-primary"><p>Starting from <span>${{category.startingPrice}}</span></p></div>
          </div>
        </div>


      </div>



    </div>
  </div>
  
  <!-- Sidebar
  ============================================= -->
  <div class="sidebar nobottommargin">
    <div class="sidebar-widgets-wrap">

      <div class="widget widget-filter-links clearfix">

        <h4>Select Category</h4>
        <ul class="custom-filter filters" data-container="#shop" data-active-class="active-filter">
          <li class="" data-filter="*"><a href="#" >All</a></li>
          <li *ngFor="let category of categories" [attr.data-filter]="'.sf-'+category.slug"><a href="#" >{{category.title}}</a></li>

        </ul>

      </div>

      <div class="widget widget-filter-links clearfix">

        <h4>Sort By</h4>
        <ul class="shop-sorting">
          <li class="widget-filter-reset active-filter"><a href="#" data-sort-by="original-order">Clear</a></li>
          <li data-sort-by="name"><a href="#" >Name</a></li>
          <li data-sort-by="price"><a href="#" >Price: Low to High</a></li>
          <li data-sort-by="price_hl"><a href="#" >Price: High to Low</a></li>
        </ul>

      </div>

    </div>
  </div><!-- .sidebar end -->




</div>