.iproduct .product-title h3 a {
  font-size: 18px;
  color: #3C64B1;
}

.product-price {
  font-size: 13px;
  font-weight: 400;
}

.product-image {
  height: 350px;
}

.flex-viewport { 
  height: 100% !important;
}

.product-image .slide a {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.fslider, .fslider .flexslider, .fslider .slider-wrap, .fslider .slide, .fslider .slide > a, .fslider .slide > img, .fslider .slide > a > img {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  object-fit: cover;
}

.single-icon i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  line-height: 46px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact-icon {
  margin-bottom: 40px;
}

#wrapper {
  position: relative;
  min-height: 100vh;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  display: none;
}