
    <div class="clear"></div>


    <div class="section my-4 py-5 clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row align-items-center">
              <div class="col-md-7">
                <div >
                  <img src="assets/images/slides/building.jpg" class="img-fluid"/>
                </div>
              </div>
              <div class="col-md-5 bg-white">
                <div class="card noborder py-2">
                  <div class="card-body">
                    <h3 class="card-title mb-4 ls0">{{contact?.title}}</h3>
                    <ul class="iconlist ml-3">
                      <li><i class="icon-circle-blank text-black-50"></i> Specal Offers </li>
                      <li><i class="icon-circle-blank text-black-50"></i> New Sales</li>
                      <li><i class="icon-circle-blank text-black-50"></i> Experience Products</li>
                    </ul>
                    <a href="#" class="text-primary ls0 t600 ml-0 mb-2 nott ">Address: {{contact?.address}}</a><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>